.logo{
    width: 250px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

   
   


}

