.Categories_container {
        width: 176px;
        height: 94px;
        padding: 16px 0;
        gap: 12px;
        border-radius: 8px;
        border: 1px solid #CFDBE8;
        background-color: #F7FAFC;
       
        
    }
    
  
.Categories_item {
        width: 176px;
        height: 94px;
        padding: 16px 0 0 0;
        gap: 12px;
        border-radius: 8px 8px 8px 8px;
        border-top: 1px solid #CFDBE8;
        background-color: #F7FAFC;
        margin-left: 25px;
        
    }
    
   




.products_cointainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        
        background: white;
        border: 1px solid #CFDBE8;
    }
    

.Categories_images {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 8px 0 0 0;
    opacity: 1;
}



.Categories_text {
    width: 90px;
    height: 40px;
    display: block;
    margin: auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    text-underline-position: auto;
    margin-top: auto;
}
